body {
    font-family: "Lato", sans-serif;
}

#header {
    padding: 5%;
    width: 100%;
    background-color:chartreuse;  
}

#header img {
    width: 100%; 
}
/* style for the side navigation bar*/
.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: RGB(33,255,255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (min-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 841px) {
    #header {
    padding: 5%;
    width: 100vw;
        height: 10%;
    background-color:rgb(212,103,25);  
}
    #header img {
        width: 100%;
        padding: 0 15% 0 15%;
        margin: -5% 0}   
}